<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_212701035_eren_kalayci_etkinlik_2.Properties.Settings._212701035ConnectionString"
            connectionString="Data Source=ERENKLYC\SQLEXPRESS;Initial Catalog=212701035;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>